@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'tailwindcss';

body {
	font-family: 'Press Start 2P', cursive;
}

#titleBar {
    @apply bg-blue-900
}

#map {
    background-size: cover;
    background-repeat: no-repeat;
}

#bodyBackground{
    background-image: url('/images/background/GameBackground.gif');
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.3s;
}
